{% extends "base.html.j2" %}

{% block title %}

To-Do List

{% endblock %}

{% block body %}

    <h1>To-Do List</h1>
    <ul>
        {% for task in tasks %}
        <li>{{ task }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add_task') }}" method="POST">
        <label for="task">Nouvelle tache:</label>
        <input type="text" id="task" name="task">
        <button type="submit">Ajouter</button>
    </form>
    <form action="{{ url_for('remove_task') }}" method="POST">
        <label for="task">Retirer une tache:</label>
        <input type="text" id="task" name="task">
        <button type="submit">Retirer</button>
    </form>

{% endblock %}